/*Home Page*/
.Home {
  text-align: center;
  font-family: sans-serif;
}
.Home #title{
  font-size: 65px;
  margin-bottom: 10px;
}
.Home #gamelink {
  font-size: 28px;
}

/*Games*/
.Home #Games {
  text-align: center;
}
.Home #Progress {
  width: 25%;
  float: left;
}
.Home #Progress-Container {
  height: 66.75px;
  border: 5px solid lightblue;
  background-color: #fff;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}
.Home #Progress-Fill {
  height: 100%;
  background-color: lightblue;
  position: absolute;
}
.Home #Progress-Container h3{
  position: absolute;
  font-size: 28px;
  margin: 0px;
  top: 50%;
  left: 15%;
  transform: translate(-5%, -50%);
}